.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 20px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;

    label {
      padding: 0px 4px;
      color: #000;
      font-size: 17px;
      font-weight: 700;
    }

    input {
      display: flex;
      align-items: center;
      gap: 2px;

      /* Input Inner */
    }

    input,
    textarea {
      padding: 16px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1) inset;
      color: var(--color-text-primary, #17171b);
      font-size: 17px;
      border-radius: 8px;
      border: 1px solid var(--color-border-thin, #e9e9e9);
      background: var(--color-bg-secondary, #f9f9f9);
    }
  }
}
