.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 20px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;

    label {
      padding: 0px 4px;
      color: #000;
      font-size: 17px;
      font-weight: 700;
    }
  }
}
